.New{font-size:12px;}
.Damping{font-size:12px;}
.DiscountRate{font-size:12px; font-weight: 600;}
.Categories .Category img{height: 186px;}
#BestSelling .Product{border:none;padding: 0;}
#HeroCarousel .carousel-caption{padding-top: 10px; font-size: 16px !important;}
#BestSelling .Product{border:none;padding: 0;}